<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pablomonteserin.ejercicios">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name="com.pablomonteserin.almacenamiento.Precarga"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <service android:name="com.pablomonteserin.notifications.notificaciones_desde_servicio_modifican_activity.NotificacionesServicio" />
        <service android:name="com.pablomonteserin.notifications.ejercicio_yoga.CountDownTimerService" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.pablomonteserin.Main"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.pablomonteserin.layouts.A_HelloWorldActivity" />
        <activity android:name="com.pablomonteserin.layouts.B_HelloWorldEjercicioActivity" />
        <activity android:name="com.pablomonteserin.layouts.C_AllLayoutsActivity" />
        <activity android:name="com.pablomonteserin.layouts.AllLayoutsPackage.Frame" />
        <activity android:name="com.pablomonteserin.layouts.AllLayoutsPackage.GridL" />
        <activity android:name="com.pablomonteserin.layouts.AllLayoutsPackage.Linear" />
        <activity android:name="com.pablomonteserin.layouts.AllLayoutsPackage.Relative" />
        <activity android:name="com.pablomonteserin.layouts.AllLayoutsPackage.TableL" />
        <activity android:name="com.pablomonteserin.layouts.E_ContenidoScrollable" />
        <activity android:name="com.pablomonteserin.layouts.D_EjercicioLinearLayout" />
        <activity android:name="com.pablomonteserin.layouts.F_CargaImagenActivity" />
        <activity android:name="com.pablomonteserin.Styles" />
        <activity android:name="com.pablomonteserin.styles.CambiaBackground" />
        <activity android:name="com.pablomonteserin.styles.Degradado" />
        <activity android:name="com.pablomonteserin.styles.MaquetarBoton" />
        <activity android:name="com.pablomonteserin.styles.Color" />
        <activity android:name="com.pablomonteserin.styles.BackgroundNoRepeat" />
        <activity android:name="com.pablomonteserin.styles.BackgroundRepeat" />
        <activity android:name="com.pablomonteserin.styles.Estilos" />
        <activity
            android:name="com.pablomonteserin.styles.Themes"
            android:theme="@style/Base.Theme.AppCompat.Light" />
        <activity android:name="com.pablomonteserin.draws.circulo.Main" />
        <activity android:name="com.pablomonteserin.Draw" />
        <activity android:name="com.pablomonteserin.layouts.I_Menu" />
        <activity android:name="com.pablomonteserin.Animatium" />
        <activity android:name="com.pablomonteserin.animatium.Transition" />
        <activity android:name="com.pablomonteserin.animatium.TweenM" />
        <activity android:name="com.pablomonteserin.animatium.AnimationSet" />
        <activity android:name="com.pablomonteserin.animatium.FrameByFrame" />
        <activity android:name="com.pablomonteserin.listview.A_ExtendiendoListActivity" />
        <activity android:name="com.pablomonteserin.Listados" />
        <activity android:name="com.pablomonteserin.animatium.Interpolacion" />
        <activity android:name="com.pablomonteserin.listview.B_SinExtenderListActivity" />
        <activity android:name="com.pablomonteserin.listview.ConLayoutPersonalizado" />
        <activity android:name="com.pablomonteserin.listview.ConBaseAdapter" />
        <activity android:name="com.pablomonteserin.listview.Optimizacion1" />
        <activity android:name="com.pablomonteserin.listview.Optimizacion2" />
        <activity android:name="com.pablomonteserin.almacenamiento.preferencias.Preferencias" />
        <activity android:name="com.pablomonteserin.Almacenamiento" />
        <activity android:name="com.pablomonteserin.almacenamiento.preferencias.PreferencesActivity" />
        <activity android:name="com.pablomonteserin.almacenamiento.preferencias.VerResultados" />
        <activity android:name="com.pablomonteserin.almacenamiento.Sqlite" />
        <activity android:name="com.pablomonteserin.almacenamiento.Ejercicio" />
        <activity android:name="com.pablomonteserin.Layouts" />
        <activity android:name="com.pablomonteserin.Multimedia" />
        <activity android:name="com.pablomonteserin.multimedia.Audio" />
        <activity android:name="com.pablomonteserin.multimedia.Camera" />
        <activity android:name="com.pablomonteserin.multimedia.Streaming" />
        <activity android:name="com.pablomonteserin.multimedia.Video" />
        <activity android:name="com.pablomonteserin.dialogs.AlertDialogEjemplo" />
        <activity android:name="com.pablomonteserin.draws.path.PathActivity" />
        <activity android:name="com.pablomonteserin.draws.path2.PathIIActivity" />
        <activity android:name="com.pablomonteserin.draws.rect.PaintRectActivity" />
        <activity android:name="com.pablomonteserin.draws.rect_filled.PaintFilledRect" />
        <activity android:name="com.pablomonteserin.draws.repaint.Repaint" />
        <activity android:name="com.pablomonteserin.dialogs.ProgressBarDialog" />
        <activity android:name="com.pablomonteserin.Dialog" />
        <activity android:name="com.pablomonteserin.almacenamiento.plantas.basico.InfoActivity" />
        <activity android:name="com.pablomonteserin.almacenamiento.plantas.basico.MisPlantasActivity" />
        <activity android:name="com.pablomonteserin.almacenamiento.plantas.con_shared_preferences.InfoActivity" />
        <activity android:name="com.pablomonteserin.almacenamiento.plantas.con_shared_preferences.MisPlantasActivity2" />
        <activity android:name="com.pablomonteserin.almacenamiento.plantas.con_alarma.InfoActivity3" />
        <activity android:name="com.pablomonteserin.almacenamiento.plantas.con_alarma.MisPlantasActivity3" />

        <receiver android:name="com.pablomonteserin.almacenamiento.plantas.con_alarma.AlarmaReceiver" />

        <activity android:name="com.pablomonteserin.Maps" />
        <activity android:name="com.pablomonteserin.mapas.LocationManagerActivity" />
        <activity android:name="com.pablomonteserin.mapas.LocationManagerConInterfaceSoloFuncionaConCambioDePosicion" />
        <activity android:name="com.pablomonteserin.mapas.conFragmento.Main" />
        <activity android:name="com.pablomonteserin.mapas.Monumentos.Main" />
        <activity android:name="com.pablomonteserin.mapas.Monumentos.LugarActivity" />
        <activity android:name="com.pablomonteserin.notifications.Notificaciones" />
        <activity android:name="com.pablomonteserin.notifications.notificaciones_abriendo_activity.NotificacionesAbriendoUnActivity" />
        <activity android:name="com.pablomonteserin.notifications.notificaciones_desde_servicio_modifican_activity.NotificacionesActivityAbierto2" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBKJ43pjK3x1GQjnO0zaYUwDJHdy5LiooU" />
        <meta-data
            android:name="com.google.android.geo.AIzaSyBKJ43pjK3x1GQjnO0zaYUwDJHdy5LiooU"
            android:value="AIzaSyBKJ43pjK3x1GQjnO0zaYUwDJHdy5LiooU" />

        <activity android:name="com.pablomonteserin.dialogs.PersonalDialog" />
        <activity android:name="com.pablomonteserin.dialogs.HacerToast" />
        <activity android:name="com.pablomonteserin.notifications.notificaciones_abriendo_activity.NotificacionesActivityAbierto" />
        <activity android:name="com.pablomonteserin.draws.circulo_con_atributos.Main" />
        <activity android:name="com.pablomonteserin.draws.juego_monstruito.MainActivity" />
        <activity android:name="com.pablomonteserin.jobScheduler.MyJobScheduler" />
        <activity android:name="com.pablomonteserin.listview.Contactos" />
        <activity android:name="com.pablomonteserin.Notificaciones" />
        <activity android:name="com.pablomonteserin.XML_JSON_y_AsyncTask.AsynTaskPorGET" />
        <activity android:name="com.pablomonteserin.XMLJSON" />
        <activity android:name="com.pablomonteserin.Login" />
        <activity android:name="com.pablomonteserin.login.google.SecondActivity" />
        <activity android:name="com.pablomonteserin.XML_JSON_y_AsyncTask.LeerFicheroXML" />
        <activity android:name="com.pablomonteserin.XML_JSON_y_AsyncTask.xml.MainParsearXML" />
        <activity android:name="com.pablomonteserin.XML_JSON_y_AsyncTask.json.MainParsearJSON" />
        <activity android:name="com.pablomonteserin.login.google.LoginActivityGoogle" />
        <activity android:name="com.pablomonteserin.login.facebook.LoginActivityFacebook" />
        <activity android:name="com.pablomonteserin.login.facebook.SecondActivity" />
        <activity android:name="com.pablomonteserin.notifications.ejercicio_yoga.MainActivityYoga" />
        <activity android:name="com.pablomonteserin.XML_JSON_y_AsyncTask.retrofit.subirimagen.SubirImagen" />
        <activity android:name="com.pablomonteserin.XML_JSON_y_AsyncTask.AsyncTaskPorPost" />
        <activity android:name="com.pablomonteserin.layouts.fragments.RecipienteFragment" />
        <activity android:name="com.pablomonteserin.layouts.tabs.TabsActivity" />
        <activity
            android:name="com.pablomonteserin.layouts.navigationDrawer.MyNavigationDrawer"
            android:label="@string/title_activity_navigation_drawer" />
        <activity android:name="com.pablomonteserin.XML_JSON_y_AsyncTask.retrofit.peticionPost.PostRequest"></activity>
    </application>

</manifest>